.grid {
    padding-top: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#icon {
    padding-top:3%;
    padding-left:3%;
}

.col1 {
    grid-row-end: span 3;
    border-radius: 7px;
    text-align: center;
    font-size: 40px;
    font-family: HP Simplified Hans;
    color: #4d94ff;
}

.col2 {
    overflow-y: scroll;
    grid-row-end: span 5;
    background-color: aliceblue;
    border-radius: 7px;
    text-align: center;
    font-family: HP Simplified Hans;
    color: #4d94ff;
}

.col3 {
    background-color: aliceblue;
    border-radius: 7px;
    padding: 2%;
    font-size: 30px;
    color:black;
    font-family: HP Simplified Hans;
}

.col4 {
    background-color: aliceblue;
    border-radius: 7px;
    padding: 2%;
    color:black;
    font-size: 30px;
    font-family: HP Simplified Hans;
}

.table {
    margin: 10px;
}
.quote {
    text-align:center;
    color:black;
}
