.col1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1%;
    font-size: 17px;
    font-family: HP Simplified Hans;
    background-color: aliceblue;
    border-radius: 7px;
}

.head {
    float: right;
    font-family: HP Simplified Hans;
}

.col2 {
    overflow-y: scroll;
    border-radius: 7px;
    margin: 5px;
}

table {
    font-family: HP Simplified Hans;
}

.sub {
    background-color: aliceblue;
    border-radius: 7px;
    margin-top: 1%;
    padding-left: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    font-family: HP Simplified Hans;
    color: #4d94ff;
}
