.instructions[b-4o1tkq69u0] {
    border-radius: 7px;
    background-color: aliceblue;
    font-family: 'HP Simplified Hans';
    margin-top: 1%;
    margin-bottom: 1%;
    color: #4d94ff;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.form[b-4o1tkq69u0] {
    border-radius: 7px;
    background-color: aliceblue;
    font-family: 'HP Simplified Hans';
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 18px;
}
