.head[b-kxxlzh4r9s] {
    border-radius: 7px;
    background-color: aliceblue;
    font-family: 'HP Simplified Hans';
    margin-top: 1%;
    margin-bottom: 1%;
    color: #4d94ff;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.editForm[b-kxxlzh4r9s] {
    border-radius: 7px;
    background-color: aliceblue;
    font-family: 'HP Simplified Hans';
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}
