.col1[b-vxtzl7oaa4] {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1%;
    font-size: 17px;
    font-family: HP Simplified Hans;
    background-color: aliceblue;
    border-radius: 7px;
}

.head[b-vxtzl7oaa4] {
    float: right;
    font-family: HP Simplified Hans;
}

.col2[b-vxtzl7oaa4] {
    overflow-y: scroll;
    border-radius: 7px;
    margin: 5px;
}

table[b-vxtzl7oaa4] {
    font-family: HP Simplified Hans;
}
